body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #2C2F33;
    color: white;
}
header {
    padding: 50px;
    background-color: #7289DA;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #FFD1DC;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
section {
    margin: 30px 0;
}
